/#map-canvas
#start.button
  %h1 Start Pong!
  %p
    Player 1 uses W and S to move
    %br
    Player 2 uses up and down arrow keys to move
#gameBoard
  #left.gutter
    .paddle
  #right.gutter
    .paddle
  %h2#leftScore 0
  %h2#rightScore 0
  #ball